* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 99.3%;
    height: 100px;
    background-image: linear-gradient(#0000FF, #00BFFF);
    background-position: top center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav-item .nav-link {
    margin-right: 20px;
    font-size: large;
    font-weight: 500;
    color: yellow;
}

.nav-item {
    margin-right: 20px;
    border-right-style: groove;
    border-width: 1px;
}

.nav-item-last {
    margin-right: 20px;
    border-width: 1px;
}
    .nav-item-last .nav-link {
        margin-right: 20px;
        font-size: large;
        font-weight: 500;
        color: yellow;
    }

footer {
    background-image: linear-gradient(0, #0000FF, #00BFFF);
    color: white;
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Đảm bảo hình ảnh được căn giữa theo chiều dọc */
    max-height: 150px; /* Điều chỉnh kích thước tối đa của hình ảnh */
}

    .centered-image img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 16px; /* Bo tròn góc */
        object-fit: cover; /* Đảm bảo hình ảnh phù hợp với kích thước của khung */
    }

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .main-img img {
        border-radius: 16px; /* Bo tròn góc */
        object-fit: cover; /* Đảm bảo hình ảnh phù hợp với kích thước của khung */
        max-height: 700px; /* Điều chỉnh kích thước tối đa của hình ảnh */
    }

.Info{
    font-size: 45px;
}
