@{
    ViewData["Title"] = "Home Page";
}
@model DoAnCoSo.Models.TaiKhoan
<div class="text-center">

    <h2>Index</h2>
    <form>
        <div class="form-group">
            <label asp-for="NgaySinh" class="col-md-3 controllabel"></label>
            <div class="col-md-9">
                <input type="date" class="form-control" asp-for="NgaySinh"
                       placeholder="Nhập Ngày Sinh" required />
                <span asp-validation-for="NgaySinh" class="textdanger"></span>
            </div>
        </div>
    </form>

    <p>
        Pink ponies and purple giraffes roamed the field. Cotton candy grew from the ground as a chocolate river meandered off to the side.
        What looked like stones in the pasture were actually rock candy. Everything in her dream seemed to be perfect except for the fact that
        she had no mouth.
        It had been a simple realization that had changed Debra's life perspective. It was really so simple that she was embarrassed that she
        had lived the previous five years with the way she measured her worth. Now that she saw what she had been doing, she could see how sad
        it was. That made her all the more relieved she had made the change. The number of hearts her Instagram posts received wasn't any longer
        the indication of her own self-worth.
        I inadvertently went to See's Candy last week (I was in the mall looking for phone repair), and as it turns out, See's Candy now charges
        a dollar -- a full dollar -- for even the simplest of their wee confection offerings. I bought two chocolate lollipops and two
        chocolate-caramel-almond things. The total cost was four-something. I mean, the candies were tasty and all, but let's be real:
        A Snickers bar is fifty cents. After this dollar-per-candy revelation, I may not find myself wandering dreamily back into a See's Candy
        any time soon.
        There was something special about this little creature. Donna couldn't quite pinpoint what it was, but she knew with all her heart that
        it was true. It wasn't a matter of if she was going to try and save it, but a matter of how she was going to save it. She went back to the
        car to get a blanket and when she returned the creature was gone.
        April seriously wondered about her sleeping partner choices. She looked at her bed and what a mess it had become. How did she get to the
        point in her life where she had two dogs, three cats, and a raccoon sleeping with her every night?
        Benny was tired. Not the normal every day tired from a hard day o work. The exhausted type of tired where you're surprised your body can
        even move. All he wanted to do was sit in front of the TV, put his feet up on the coffee table, and drink a beer. The only issue was that
        he had forgotten where he lived.
        "Begin today!" That's all the note said. There was no indication from where it came or who may have written it. Had it been meant for
        someone else? Meghan looked around the room, but nobody made eye contact back. For a brief moment, she thought it might be a message for
        her to follow her dreams, but ultimately decided it was easier to ignore it as she crumpled it up and threw it away.
        The water rush down the wash and into the slot canyon below. Two hikers had started the day to sunny weather without a cloud in the sky,
        but they hadn't thought to check the weather north of the canyon. Huge thunderstorms had brought a deluge o rain and produced flash floods
        heading their way. The two hikers had no idea what was coming.
        The time had come for Nancy to say goodbye. She had been dreading this moment for a good six months, and it had finally arrived despite
        her best efforts to forestall it. No matter how hard she tried, she couldn't keep the inevitable from happening. So the time had come for
        a normal person to say goodbye and move on. It was at this moment that Nancy decided not to be a normal person. After all the time and
        effort she had expended, she couldn't bring herself to do it.
        It went through such rapid contortions that the little bear was forced to change his hold on it so many times he became confused in the
        darkness, and could not, for the life of him, tell whether he held the sheep right side up, or upside down. But that point was decided
        for him a moment later by the animal itself, who, with a sudden twist, jabbed its horns so hard into his lowest ribs that he gave a grunt
        of anger and disgust.Pink ponies and purple giraffes roamed the field. Cotton candy grew from the ground as a chocolate river meandered off to the side.
        What looked like stones in the pasture were actually rock candy. Everything in her dream seemed to be perfect except for the fact that
        she had no mouth.
        It had been a simple realization that had changed Debra's life perspective. It was really so simple that she was embarrassed that she
        had lived the previous five years with the way she measured her worth. Now that she saw what she had been doing, she could see how sad
        it was. That made her all the more relieved she had made the change. The number of hearts her Instagram posts received wasn't any longer
        the indication of her own self-worth.
        I inadvertently went to See's Candy last week (I was in the mall looking for phone repair), and as it turns out, See's Candy now charges
        a dollar -- a full dollar -- for even the simplest of their wee confection offerings. I bought two chocolate lollipops and two
        chocolate-caramel-almond things. The total cost was four-something. I mean, the candies were tasty and all, but let's be real:
        A Snickers bar is fifty cents. After this dollar-per-candy revelation, I may not find myself wandering dreamily back into a See's Candy
        any time soon.
        There was something special about this little creature. Donna couldn't quite pinpoint what it was, but she knew with all her heart that
        it was true. It wasn't a matter of if she was going to try and save it, but a matter of how she was going to save it. She went back to the
        car to get a blanket and when she returned the creature was gone.
        April seriously wondered about her sleeping partner choices. She looked at her bed and what a mess it had become. How did she get to the
        point in her life where she had two dogs, three cats, and a raccoon sleeping with her every night?
        Benny was tired. Not the normal every day tired from a hard day o work. The exhausted type of tired where you're surprised your body can
        even move. All he wanted to do was sit in front of the TV, put his feet up on the coffee table, and drink a beer. The only issue was that
        he had forgotten where he lived.
        "Begin today!" That's all the note said. There was no indication from where it came or who may have written it. Had it been meant for
        someone else? Meghan looked around the room, but nobody made eye contact back. For a brief moment, she thought it might be a message for
        her to follow her dreams, but ultimately decided it was easier to ignore it as she crumpled it up and threw it away.
        The water rush down the wash and into the slot canyon below. Two hikers had started the day to sunny weather without a cloud in the sky,
        but they hadn't thought to check the weather north of the canyon. Huge thunderstorms had brought a deluge o rain and produced flash floods
        heading their way. The two hikers had no idea what was coming.
        The time had come for Nancy to say goodbye. She had been dreading this moment for a good six months, and it had finally arrived despite
        her best efforts to forestall it. No matter how hard she tried, she couldn't keep the inevitable from happening. So the time had come for
        a normal person to say goodbye and move on. It was at this moment that Nancy decided not to be a normal person. After all the time and
        effort she had expended, she couldn't bring herself to do it.
        It went through such rapid contortions that the little bear was forced to change his hold on it so many times he became confused in the
        darkness, and could not, for the life of him, tell whether he held the sheep right side up, or upside down. But that point was decided
        for him a moment later by the animal itself, who, with a sudden twist, jabbed its horns so hard into his lowest ribs that he gave a grunt
        of anger and disgust.
    </p>


</div>
